Importing the libraries for data cleaning

In [76]:
import pandas as pd
import numpy as np

Importing the dataset and printing first 5 rows

In [77]:
df = pd.read_csv('Fraud.csv')
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

Removing duplicate rows

In [78]:
df.drop_duplicates(subset=["nameOrig"], keep="last", inplace=True)
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

Dropping columns to reduce noise when training

In [79]:
df.drop('nameOrig', inplace=True, axis=1)
df.drop('step', inplace=True, axis=1)
df.drop('nameDest', inplace=True, axis=1)
df.drop('isFlaggedFraud', inplace=True, axis=1)

In [14]:
df.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0
1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0
2,TRANSFER,181.00,181.0,0.00,0.0,0.0,1
3,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1
4,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0

Checking data formatting of 9th row

In [80]:
df.loc[8]

type              PAYMENT
amount            4024.36
oldbalanceOrg      2671.0
newbalanceOrig        0.0
oldbalanceDest        0.0
newbalanceDest        0.0
isFraud                 0
Name: 8, dtype: object

Encoding the 'Type' column using label encoding and finding what they stand for

In [84]:
from sklearn.preprocessing import LabelEncoder

# Assuming you have already fitted the LabelEncoder during preprocessing
label_encoder = LabelEncoder()

# Fit the encoder on the 'type' column
types = ['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN']
label_encoder.fit(types)

# Find the mapping of unique string values to encoded labels
class_mapping = list(zip(label_encoder.classes_, range(len(label_encoder.classes_))))

# Print the mapping
print("Label Encoding Mapping:")
for category, encoded_value in class_mapping:
    print(f"{category} -> {encoded_value}")

Label Encoding Mapping:
CASH_IN -> 0
CASH_OUT -> 1
DEBIT -> 2
PAYMENT -> 3
TRANSFER -> 4

Importing xgboost model for training

In [24]:
import xgboost as xgb

Training the model

In [25]:
from sklearn.model_selection import train_test_split

# Defining x and y
X = df.drop('isFraud', axis=1)
y = df['isFraud']

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Finding best hyperparameters

In [47]:
import xgboost as xgb
from sklearn.metrics import accuracy_score
import optuna

def objective(trial):
    # Defining the hyperparameters to tune for binary classification
    params = {
        "objective": "binary:logistic",  # Binary classification objective
        "n_estimators": 1000,            # Number of estimators (trees)
        "verbosity": 0,                  # Suppress output
        "learning_rate": trial.suggest_float("learning_rate", 1e-3, 0.1, log=True),  # Learning rate
        "max_depth": trial.suggest_int("max_depth", 1, 10),  # Maximum depth of trees
        "subsample": trial.suggest_float("subsample", 0.05, 1.0),  # Subsampling ratio
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.05, 1.0),  # Column sampling per tree
        "min_child_weight": trial.suggest_int("min_child_weight", 1, 20),  # Minimum child weight
    }

    # Initialize XGBoost classifier with the suggested hyperparameters
    model = xgb.XGBClassifier(**params)
    
    # Fit the model on training data
    model.fit(X_train, y_train, verbose=False)
    
    # Make predictions on the validation set
    predictions = model.predict(X_test)
    
    # Calculate accuracy (or any other metric suitable for classification)
    accuracy = accuracy_score(y_test, predictions)
    
    return 1 - accuracy  # Optuna minimizes the objective, so we return 1 - accuracy to maximize it

In [48]:
# Creating the Optuna study and running optimization
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=25)
print('Best hyperparameters:', study.best_params)
print('Best RMSE:', study.best_value)

[I 2024-12-04 17:33:02,112] A new study created in memory with name: no-name-ce35d1d1-5345-46b0-b730-7f093aadeff8
[I 2024-12-04 17:35:43,632] Trial 0 finished with value: 0.001266269078637694 and parameters: {'learning_rate': 0.006588922380039456, 'max_depth': 2, 'subsample': 0.1687759160659278, 'colsample_bytree': 0.07919613958669043, 'min_child_weight': 5}. Best is trial 0 with value: 0.001266269078637694.
[I 2024-12-04 17:38:57,713] Trial 1 finished with value: 0.0003871997431260654 and parameters: {'learning_rate': 0.01626795657170186, 'max_depth': 4, 'subsample': 0.6227621474328181, 'colsample_bytree': 0.7006806420912535, 'min_child_weight': 1}. Best is trial 1 with value: 0.0003871997431260654.
[I 2024-12-04 17:42:26,826] Trial 2 finished with value: 0.00037460788156096214 and parameters: {'learning_rate': 0.07070318115378102, 'max_depth': 5, 'subsample': 0.4872637453446773, 'colsample_bytree': 0.405849890917609, 'min_child_weight': 8}. Best is trial 2 with value: 0.00037460788156096214.
[I 2024-12-04 17:44:32,425] Trial 3 finished with value: 0.001266269078637694 and parameters: {'learning_rate': 0.0041133970802691424, 'max_depth': 1, 'subsample': 0.8204129145245482, 'colsample_bytree': 0.5776325058565409, 'min_child_weight': 3}. Best is trial 2 with value: 0.00037460788156096214.
[I 2024-12-04 17:46:47,934] Trial 4 finished with value: 0.0010466984925967537 and parameters: {'learning_rate': 0.0011825915494462062, 'max_depth': 2, 'subsample': 0.9691719919081352, 'colsample_bytree': 0.8222942401619128, 'min_child_weight': 20}. Best is trial 2 with value: 0.00037460788156096214.
[I 2024-12-04 17:49:02,956] Trial 5 finished with value: 0.0009687863491628645 and parameters: {'learning_rate': 0.001356991973558522, 'max_depth': 2, 'subsample': 0.47154861268718756, 'colsample_bytree': 0.9973043688602209, 'min_child_weight': 9}. Best is trial 2 with value: 0.00037460788156096214.
[I 2024-12-04 17:52:15,577] Trial 6 finished with value: 0.0012497422603335862 and parameters: {'learning_rate': 0.009804204625490252, 'max_depth': 9, 'subsample': 0.0851196989056403, 'colsample_bytree': 0.24158461643490647, 'min_child_weight': 6}. Best is trial 2 with value: 0.00037460788156096214.
[I 2024-12-04 17:56:05,528] Trial 7 finished with value: 0.0003675249594305985 and parameters: {'learning_rate': 0.04645329221201137, 'max_depth': 7, 'subsample': 0.6172254654529528, 'colsample_bytree': 0.5894107249768549, 'min_child_weight': 16}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 17:59:03,297] Trial 8 finished with value: 0.0005178403068636372 and parameters: {'learning_rate': 0.0018247028393919885, 'max_depth': 5, 'subsample': 0.8909308802395767, 'colsample_bytree': 0.7781024323281068, 'min_child_weight': 7}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:01:57,794] Trial 9 finished with value: 0.0005926044849062784 and parameters: {'learning_rate': 0.05634756655052827, 'max_depth': 3, 'subsample': 0.23636854575198812, 'colsample_bytree': 0.05357180033988075, 'min_child_weight': 6}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:05:58,374] Trial 10 finished with value: 0.0003864127517781979 and parameters: {'learning_rate': 0.032864835915338585, 'max_depth': 8, 'subsample': 0.6645893252984735, 'colsample_bytree': 0.42979864634566434, 'min_child_weight': 15}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:09:43,809] Trial 11 finished with value: 0.00037460788156096214 and parameters: {'learning_rate': 0.0900631579698935, 'max_depth': 7, 'subsample': 0.42964250009834104, 'colsample_bytree': 0.4128913627265538, 'min_child_weight': 13}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:13:12,342] Trial 12 finished with value: 0.00038326478638694983 and parameters: {'learning_rate': 0.02927036181213711, 'max_depth': 6, 'subsample': 0.34369813399464116, 'colsample_bytree': 0.5455274569053938, 'min_child_weight': 17}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:17:11,841] Trial 13 finished with value: 0.0005682077531239393 and parameters: {'learning_rate': 0.08239689997171594, 'max_depth': 10, 'subsample': 0.605686369716285, 'colsample_bytree': 0.3330245658840958, 'min_child_weight': 11}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:20:48,023] Trial 14 finished with value: 0.00037067292482184655 and parameters: {'learning_rate': 0.03867721026322646, 'max_depth': 6, 'subsample': 0.7414825014971931, 'colsample_bytree': 0.6427390824466117, 'min_child_weight': 18}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:24:32,628] Trial 15 finished with value: 0.00037460788156096214 and parameters: {'learning_rate': 0.03146116838607401, 'max_depth': 7, 'subsample': 0.7350776691794907, 'colsample_bytree': 0.6542464003101252, 'min_child_weight': 20}. Best is trial 7 with value: 0.0003675249594305985.
[I 2024-12-04 18:28:01,671] Trial 16 finished with value: 0.0003651639853871069 and parameters: {'learning_rate': 0.018015784893536446, 'max_depth': 7, 'subsample': 0.7610898432381719, 'colsample_bytree': 0.8744622783240855, 'min_child_weight': 17}. Best is trial 16 with value: 0.0003651639853871069.
[I 2024-12-04 18:31:33,061] Trial 17 finished with value: 0.00036201601999585886 and parameters: {'learning_rate': 0.01631061436185906, 'max_depth': 8, 'subsample': 0.7628656462768053, 'colsample_bytree': 0.9914512315221893, 'min_child_weight': 15}. Best is trial 17 with value: 0.00036201601999585886.
[I 2024-12-04 18:35:08,841] Trial 18 finished with value: 0.0003549330978654952 and parameters: {'learning_rate': 0.01714214229076076, 'max_depth': 9, 'subsample': 0.8491843413287152, 'colsample_bytree': 0.9903605446112669, 'min_child_weight': 13}. Best is trial 18 with value: 0.0003549330978654952.
[I 2024-12-04 18:38:30,442] Trial 19 finished with value: 0.00037460788156096214 and parameters: {'learning_rate': 0.004311813008481157, 'max_depth': 10, 'subsample': 0.9765955775829733, 'colsample_bytree': 0.9945660325463797, 'min_child_weight': 13}. Best is trial 18 with value: 0.0003549330978654952.
[I 2024-12-04 18:41:58,128] Trial 20 finished with value: 0.0003494241584307556 and parameters: {'learning_rate': 0.018328567818997943, 'max_depth': 9, 'subsample': 0.868856423461877, 'colsample_bytree': 0.9129726766209201, 'min_child_weight': 12}. Best is trial 20 with value: 0.0003494241584307556.
[I 2024-12-04 18:45:23,682] Trial 21 finished with value: 0.0003533591151698712 and parameters: {'learning_rate': 0.01637920595242523, 'max_depth': 9, 'subsample': 0.8526206235048303, 'colsample_bytree': 0.9101570820439314, 'min_child_weight': 12}. Best is trial 20 with value: 0.0003494241584307556.
[I 2024-12-04 18:48:45,091] Trial 22 finished with value: 0.00036201601999585886 and parameters: {'learning_rate': 0.01025988072186594, 'max_depth': 9, 'subsample': 0.8906793127182112, 'colsample_bytree': 0.8888315994327836, 'min_child_weight': 11}. Best is trial 20 with value: 0.0003494241584307556.
[I 2024-12-04 18:52:11,910] Trial 23 finished with value: 0.0003502111497786231 and parameters: {'learning_rate': 0.021490863519335077, 'max_depth': 9, 'subsample': 0.8744720253797211, 'colsample_bytree': 0.9045859142809712, 'min_child_weight': 13}. Best is trial 20 with value: 0.0003494241584307556.
[I 2024-12-04 18:55:42,908] Trial 24 finished with value: 0.0003722469075174706 and parameters: {'learning_rate': 0.010162457848784882, 'max_depth': 10, 'subsample': 0.9090511482830252, 'colsample_bytree': 0.7775520361528747, 'min_child_weight': 10}. Best is trial 20 with value: 0.0003494241584307556.

Best hyperparameters: {'learning_rate': 0.018328567818997943, 'max_depth': 9, 'subsample': 0.868856423461877, 'colsample_bytree': 0.9129726766209201, 'min_child_weight': 12}
Best RMSE: 0.0003494241584307556

Best hyperparameter was found by running the above commented code. [Trial 22 finished with value: 0.016569848821596934 and parameters: {'learning_rate': 0.05435437137174813, 'max_depth': 8, 'subsample': 0.40344376142128324, 'colsample_bytree': 0.8781257402324484, 'min_child_weight': 16}. Best is trial 22 with value: 0.016569848821596934.]

In [68]:
import optuna
import xgboost as xgb
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# Calling the best parameters
best_params = study.best_trial.params

# Adjust n_estimators to 50 (for 50 epochs/rounds)
best_params['n_estimators'] = 50

# Create the XGBoost model with the best parameters
model = xgb.XGBClassifier(**best_params)

# Fit the model on the training data
model.fit(X_train, y_train, verbose=False)

# Make predictions on the training and testing data
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Convert regression predictions into binary predictions (e.g., using 0.5 as the threshold)
threshold = 0.5
y_train_pred_binary = (y_train_pred >= threshold).astype(int)
y_test_pred_binary = (y_test_pred >= threshold).astype(int)

# Calculate metrics for the training set
accuracy_train = accuracy_score(y_train, y_train_pred_binary)
precision_train = precision_score(y_train, y_train_pred_binary)
recall_train = recall_score(y_train, y_train_pred_binary)
f1_train = f1_score(y_train, y_train_pred_binary)

# Calculate metrics for the test set
accuracy_test = accuracy_score(y_test, y_test_pred_binary)
precision_test = precision_score(y_test, y_test_pred_binary)
recall_test = recall_score(y_test, y_test_pred_binary)
f1_test = f1_score(y_test, y_test_pred_binary)

# Print out the evaluation metrics for both training and testing
print(f"Training Accuracy: {accuracy_train:.4f}")
print(f"Training Precision: {precision_train:.4f}")
print(f"Training Recall: {recall_train:.4f}")
print(f"Training F1-Score: {f1_train:.4f}")

print(f"Testing Accuracy: {accuracy_test:.4f}")
print(f"Testing Precision: {precision_test:.4f}")
print(f"Testing Recall: {recall_test:.4f}")
print(f"Testing F1-Score: {f1_test:.4f}")

# Optionally, you can also calculate the RMSE for both train and test datasets
rmse_train = mean_squared_error(y_train, y_train_pred, squared=False)
rmse_test = mean_squared_error(y_test, y_test_pred, squared=False)
print(f"Training RMSE: {rmse_train:.4f}")
print(f"Testing RMSE: {rmse_test:.4f}")

Training Accuracy: 0.9996
Training Precision: 0.9958
Training Recall: 0.6786
Training F1-Score: 0.8072
Testing Accuracy: 0.9996
Testing Precision: 0.9899
Testing Recall: 0.6687
Testing F1-Score: 0.7982
Training RMSE: 0.0205
Testing RMSE: 0.0207

In [56]:
from sklearn.metrics import confusion_matrix

# Compute confusion matrix
cm = confusion_matrix(y_test, y_pred)
print(f"Confusion Matrix:\n{cm}")

Confusion Matrix:
[[1269042      11]
 [    533    1076]]